﻿@model CampariEspolonLoteria.Models.ViewModels.ControlViewModel

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="landing-page">
    <div class="center-content">
        <div class="landing-content">
            <img src="@Url.Content("~/Images/lrg-logo.png")" class="lrg-logo" />
            @using (Html.BeginForm("Control", "Admin", FormMethod.Post, new { @id = "form1" }))
            {
        <div class="reg-form">
            <!-- US Enabled -->
            <div class="form-row">
                <div class="form-col one-col">
                    <label class="form-label">US GAME WEBSITE</label>
                    <div class="form-checkbox">
                        <input type="radio" name="GameEnabled" id="GameEnabled" checked="@Model.GameEnabled" value="true" />
                        <label class="custom-checkbox" for="GameEnabled">
                            <i class="fa fa-check"></i>
                            ACTIVE
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-col one-col">
                    <div class="form-checkbox">
                        <input type="radio" name="GameEnabled" id="GameNotEnabled" checked="@(!Model.GameEnabled)" value="false" />
                        <label class="custom-checkbox" for="GameNotEnabled">
                            <i class="fa fa-check"></i>
                            INACTIVE
                        </label>
                    </div>
                </div>
            </div>

            <!-- CA Enabled -->
            <div class="form-row">
                <div class="form-col one-col">
                    <label class="form-label">CA GAME WEBSITE</label>
                    <div class="form-checkbox">
                        <input type="radio" name="CAGameEnabled" id="CAGameEnabled" checked="@Model.CAGameEnabled" value="true" />
                        <label class="custom-checkbox" for="CAGameEnabled">
                            <i class="fa fa-check"></i>
                            ACTIVE
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-col one-col">
                    <div class="form-checkbox">
                        <input type="radio" name="CAGameEnabled" id="CAGameNotEnabled" checked="@(!Model.CAGameEnabled)" value="false" />
                        <label class="custom-checkbox" for="CAGameNotEnabled">
                            <i class="fa fa-check"></i>
                            INACTIVE
                        </label>
                    </div>
                </div>
            </div>

            <!-- US Registration-->
            <div class="form-row">
                <div class="form-col one-col">
                    <label class="form-label">US REGISTRATION</label>
                    <div class="form-checkbox">
                        <input type="radio" name="RegistrationEnabled" id="RegistrationEnabled" checked="@Model.RegistrationEnabled" value="true" />
                        <label class="custom-checkbox" for="RegistrationEnabled">
                            <i class="fa fa-check"></i>
                            REGISTRATION REQUIRED
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-col one-col">
                    <div class="form-checkbox">
                        <input type="radio" name="RegistrationEnabled" id="RegistrationNotEnabled" checked="@(!Model.RegistrationEnabled)" value="false" />
                        <label class="custom-checkbox" for="RegistrationNotEnabled">
                            <i class="fa fa-check"></i>
                            REGISTRATION NOT REQUIRED
                        </label>
                    </div>
                </div>
            </div>

            <!-- CA Registration -->
            <div class="form-row">
                <div class="form-col one-col">
                    <label class="form-label">CA REGISTRATION</label>
                    <div class="form-checkbox">
                        <input type="radio" name="CARegistrationEnabled" id="CARegistrationEnabled" checked="@Model.CARegistrationEnabled" value="true" />
                        <label class="custom-checkbox" for="CARegistrationEnabled">
                            <i class="fa fa-check"></i>
                            REGISTRATION REQUIRED
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-col one-col">
                    <div class="form-checkbox">
                        <input type="radio" name="CARegistrationEnabled" id="CARegistrationNotEnabled" checked="@(!Model.CARegistrationEnabled)" value="false" />
                        <label class="custom-checkbox" for="CARegistrationNotEnabled">
                            <i class="fa fa-check"></i>
                            REGISTRATION NOT REQUIRED
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-col">
                    <a class="btn solid-btn" data-submit-admin>Save</a>
                    <span class="save-msg" style="display:none;">Your changes have been saved.</span>
                </div>
            </div>
        </div>
            }
        </div>
    </div>
</div>

@section Scripts {

    <script>
        var form = document.getElementById('form1');
        var submitBtn = document.querySelector('[data-submit-admin]');
        var saveMsg = document.querySelector('.save-msg');

        submitBtn.addEventListener('click', function () {
            saveMsg.style.display = "block";
            setTimeout(function () {
                form.submit();
                saveMsg.style.display = "none";
            }, 1500);
        })
    </script>

}