﻿@model CampariEspolonLoteria.Models.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="landing-page">
    <div class="center-content">
        <div class="landing-content">
            @using (Html.BeginForm("Index", "Admin", FormMethod.Post, new { @id = "form1" }))
            {
                <img src="@Url.Content("~/Images/lrg-logo.png")" class="lrg-logo" />
                <div class="reg-form">
                    <div class="form-row">
                        <div class="form-col one-col">
                            <label class="form-label">Access Code</label>
                            <input type="text" class="text-input" name="AccessCode" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-col">
                            <a class="btn solid-btn" onclick="document.getElementById('form1').submit();">Login</a>
                        </div>
                    </div>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="errMessage">
                    @Model.ErrorMessage
                </div>
            }
        </div>
    </div>
</div>

