﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://images.squarespace-cdn.com/content/v1/58bc6c8ebebafb465e908a54/1571254738802-5J29O78AJCT8505EJLRN/ke17ZwdGBToddI8pDm48kBFhOIpnY9-dmZ7dhJSii7moCXeSvxnTEQmG4uwOsdIceAoHiyRoc52GMN5_2H8Wpzw23AmAYo_5oEV99uhs6eoMbE56EHpsMSd8zgdSbP8ibacOhdKl5xlF61LrhJZ5EQ/favicon.ico?format=" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-174939882-1"></script>
    <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-174939882-1');
    </script>

</head>
<body>

    <div class="page-wrap">
        @RenderBody()
    </div>
    <div class="footer">
        <div class="center-content">
            @if (Request.Url.Host.EndsWith(".com")) // virtualespoloteria.com
            {
                <div class="footer-content">
                    <div class="footer-item">
                        <a href="https://espolontequila.com/" class="footer-link" title="Espolontequila.com" target="_blank">ESPOLONTEQUILA.COM</a>
                        <a href="https://virtualespoloteria.com/pdfs/Guidelines.pdf" class="footer-link" title="Guidelines" target="_blank">GUIDELINES</a>
                    </div>
                    <div class="footer-item">
                        <p class="footer-copy">ESPOLòN ® TEQUILA, 40% ALC./VOL. (80 PROOF). © 2021 CAMPARI AMERICA, NEW YORK, NY. RISE TO THE CALL. <span class="pink-text">DRINK RESPONSIBLY.</span></p>
                    </div>
                    <div class="footer-item">
                        <a href="https://www.facebook.com/groups/EspolonCocktailFights" class="footer-link social-link" title="Follow us on Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/camparicommunity/" class="footer-link social-link" title="Follow us on Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            }
            else // virtualespoloteria.ca
            {
                <div class="footer-content">
                    <div class="footer-item">
                        <a href="https://espolontequila.com/" class="footer-link" title="Espolontequila.com" target="_blank">ESPOLONTEQUILA.COM</a>
                        <a href="https://virtualespoloteria.ca/pdfs/CAGuidelines.pdf" class="footer-link" title="Guidelines" target="_blank">GUIDELINES</a>
                    </div>
                    <div class="footer-item">
                        <p class="footer-copy">ESPOLòN ® TEQUILA, 40% Alc. Vol. © 2021 CAMPARI MÉXICO Sociedad Anónima de Capital Variable. <span class="pink-text">DRINK RESPONSIBLY.</span></p>
                    </div>
                    <div class="footer-item">
                        <a href="https://www.facebook.com/EspolonCanada" class="footer-link social-link" title="Follow us on Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/espolontequilacanada/" class="footer-link social-link" title="Follow us on Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="overlay">
        <div class="modal">
            <span class="close-modal" data-close-modal></span>
            <div class="modal-content">
                <h1 class="modal-headline">Ready for a new game board?</h1>
                <p class="modal-copy">
                    You'll lose all of your current<br />
                    card selections + matches
                </p>
                <a href="javascript:;" class="btn solid-btn" title="Start new game" data-start-new>Start new game</a>
                <a href="javascript:;" class="modal-link" title="Cancel" data-close-modal>Cancel</a>
            </div>
        </div>
    </div>

    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">

            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>*@

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
