﻿
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="disabled-page">
    <div class="center-content">
        <div class="disabled-content">
            <img src="@Url.Content("~/Images/Espoloteria-Animated-Logo_v2.gif")" class="lrg-logo" />
            <p class="disabled-msg">
                Sorry, the page you are looking for is not currently active.
                @if (Request.Url.Host.EndsWith(".com"))
                {
                    <text>Please check the schedule for upcoming events at <a href="https://virtualespoloteria.splashthat.com" class="disabled-msg--link" target="_blank">virtualespoloteria.splashthat.com</a>.</text>
                }
            </p>
        </div>
    </div>
</div>

