﻿
@{
    ViewBag.Title = "Espoloteria";
}

<div class="game-page">
    <div class="center-content">
        <div class="game-content">
            <div class="game-column">
                <div class="game-column-row">
                    <img src="@Url.Content("~/Images/lrg-logo.png")" class="lrg-logo" />
                </div>
                <div class="game-column-row --desktop-board-number" data-board-number="desktop">
                    <span class="game-headline --gameboard">Tabla #<span class="gameboard-number"></span></span>
                </div>
                <div class="game-column-row --mobile-border-top">
                    <span class="game-headline --instructions">
                        WHEN A CARD IS DEALT,
                        <span>LOOK FOR THE SAME CARD ON YOUR BOARD. IF YOU HAVE A MATCH, CLICK ON THE MATCHING CARD TO PLACE AN ESPOLÒN CHIP ON IT.</span>
                    </span>
                    <img src="@Url.Content("~/Images/cards/card-stamp-img.png")" class="badge-img" />
                </div>
                <div class="game-column-row">
                    <span class="game-headline --instructions">
                        Call Out "ESPOLOTERÍA"
                        <span>WHEN YOU HAVE A PATTERN OF 4 - HORIZONTAL, VERTICAL OR DIAGONAL. CLICK THE "RAISE HAND" BUTTON IN ZOOM TO NOTIFY HOSTS AND THE FIRST TO RAISE THEIR HAND AND HAVE A CONFIRMED LOTERÍA WINS THE ROUND.</span>
                    </span>
                </div>
                @if (Request.Url.Host.EndsWith(".com"))
                {
                    <div class="game-column-row --img-border">
                        <img src="@Url.Content("~/Images/another-round-another-rally.png")" class="border-img" />
                    </div>
                    <div class="game-column-row --game-details">
                        <span class="detail-copy">
                            Remember, every 'lotería' that is won tonight, EspoLÒn will donate $200 to <a href="https://anotherroundanotherrally.org" class="detail-copy-link" target="_blank">Another Round Another Rally</a>*<br />
                            *Up to $1,000 per event
                        </span>
                    </div>
                }
                else
                {
                    <style type="text/css">
                        .game-page .center-content .game-content .game-column .game-column-row.--img-border:before,
                        .game-page .center-content .game-content .game-column .game-column-row.--img-border:after {
                            width:25%;
                        }
                    </style>
                    <div class="game-column-row --img-border">
                        <img src="@Url.Content("~/Images/BBF_logo_1col.png")" class="border-img" style="max-width:150px;" />
                    </div>
                    <div class="game-column-row --game-details">
                        <span class="detail-copy">
                            Remember, every 'lotería' that is won tonight, EspoLÒn will donate to the <a href="https://www.bartendersbenevolentfund.ca" class="detail-copy-link" target="_blank">Bartenders Benevolent Fund</a><br />
                        </span>
                    </div>
                }
                <div class="game-column-row --btn-row">
                    <span class="print-details">- PRINT TO PLAY ANALOG STYLE -</span>
                    <a href="" class="btn outline-btn" title="Print Gameboard" target="_blank" data-print-board>Print Gameboard</a>
                    <a href="javascript:;" class="btn solid-btn --desktop-start-btn" title="Start New Game" data-new-game>Start New Game</a>
                </div>
            </div>
            <div class="game-column">
                <div class="game-column-row --mobile-board-number" data-board-number="mobile">
                    <span class="game-headline --gameboard">Tabla #<span class="gameboard-number"></span></span>
                </div>
                <div class="gameboard">
                    <div class="gameboard-row">
                        <div class="gameboard-col">
                            <div class="game-card" data-card-id="0">
                                <div class="game-card-inner">
                                    <div class="game-card-front">

                                    </div>
                                    <div class="game-card-back">
                                        <img src="@Url.Content("~/Images/cards/card_back.png")" class="back-img" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="gameboard-col">
                            <div class="game-card" data-card-id="1">
                                <div class="game-card-inner">
                                    <div class="game-card-front">

                                    </div>
                                    <div class="game-card-back">
                                        <img src="@Url.Content("~/Images/cards/card_back.png")" class="back-img" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="gameboard-col">
                            <div class="game-card" data-card-id="2">
                                <div class="game-card-inner">
                                    <div class="game-card-front">

                                    </div>
                                    <div class="game-card-back">
                                        <img src="@Url.Content("~/Images/cards/card_back.png")" class="back-img" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="gameboard-col">
                            <div class="game-card" data-card-id="3">
                                <div class="game-card-inner">
                                    <div class="game-card-front">
                                    </div>
                                    <div class="game-card-back">
                                        <img src="@Url.Content("~/Images/cards/card_back.png")" class="back-img" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="gameboard-row">
                        <div class="gameboard-col">
                            <div class="game-card" data-card-id="4">
                                <div class="game-card-inner">
                                    <div class="game-card-front">
                                    </div>
                                    <div class="game-card-back">
                                        <img src="@Url.Content("~/Images/cards/card_back.png")" class="back-img" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="gameboard-col">
                            <div class="game-card" data-card-id="5">
                                <div class="game-card-inner">
                                    <div class="game-card-front">
                                    </div>
                                    <div class="game-card-back">
                                        <img src="@Url.Content("~/Images/cards/card_back.png")" class="back-img" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="gameboard-col">
                            <div class="game-card" data-card-id="6">
                                <div class="game-card-inner">
                                    <div class="game-card-front">
                                    </div>
                                    <div class="game-card-back">
                                        <img src="@Url.Content("~/Images/cards/card_back.png")" class="back-img" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="gameboard-col">
                            <div class="game-card" data-card-id="7">
                                <div class="game-card-inner">
                                    <div class="game-card-front">
                                    </div>
                                    <div class="game-card-back">
                                        <img src="@Url.Content("~/Images/cards/card_back.png")" class="back-img" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="gameboard-row">
                        <div class="gameboard-col">
                            <div class="game-card" data-card-id="8">
                                <div class="game-card-inner">
                                    <div class="game-card-front">
                                    </div>
                                    <div class="game-card-back">
                                        <img src="@Url.Content("~/Images/cards/card_back.png")" class="back-img" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="gameboard-col">
                            <div class="game-card" data-card-id="9">
                                <div class="game-card-inner">
                                    <div class="game-card-front">
                                    </div>
                                    <div class="game-card-back">
                                        <img src="@Url.Content("~/Images/cards/card_back.png")" class="back-img" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="gameboard-col">
                            <div class="game-card" data-card-id="10">
                                <div class="game-card-inner">
                                    <div class="game-card-front">
                                    </div>
                                    <div class="game-card-back">
                                        <img src="@Url.Content("~/Images/cards/card_back.png")" class="back-img" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="gameboard-col">
                            <div class="game-card" data-card-id="11">
                                <div class="game-card-inner">
                                    <div class="game-card-front">
                                    </div>
                                    <div class="game-card-back">
                                        <img src="@Url.Content("~/Images/cards/card_back.png")" class="back-img" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="gameboard-row">
                        <div class="gameboard-col">
                            <div class="game-card" data-card-id="12">
                                <div class="game-card-inner">
                                    <div class="game-card-front">
                                    </div>
                                    <div class="game-card-back">
                                        <img src="@Url.Content("~/Images/cards/card_back.png")" class="back-img" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="gameboard-col">
                            <div class="game-card" data-card-id="13">
                                <div class="game-card-inner">
                                    <div class="game-card-front">
                                    </div>
                                    <div class="game-card-back">
                                        <img src="@Url.Content("~/Images/cards/card_back.png")" class="back-img" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="gameboard-col">
                            <div class="game-card" data-card-id="14">
                                <div class="game-card-inner">
                                    <div class="game-card-front">
                                    </div>
                                    <div class="game-card-back">
                                        <img src="@Url.Content("~/Images/cards/card_back.png")" class="back-img" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="gameboard-col">
                            <div class="game-card" data-card-id="15">
                                <div class="game-card-inner">
                                    <div class="game-card-front">
                                    </div>
                                    <div class="game-card-back">
                                        <img src="@Url.Content("~/Images/cards/card_back.png")" class="back-img" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="game-column-row --btn-row">
                    <a href="javascript:;" class="btn solid-btn --mobile-start-btn" title="Start New Game" data-new-game>Start New Game</a>
                </div>
            </div>
        </div>
        @*<div class="footer">
            <div class="center-content">
                <div class="footer-content">
                    <div class="footer-item">
                        <a href="https://espolontequila.com/" class="footer-link" title="Espolontequila.com" target="_blank">ESPOLONTEQUILA.COM</a>
                        <a href="#!" class="footer-link" title="Guidelines" target="_blank">GUIDELINES</a>
                    </div>
                    <div class="footer-item">
                        <p class="footer-copy">ESPOLÓN ® TEQUILA, 40% ALC./VOL. (80 PROOF). © 2020 CAMPARI AMERICA, NEW YORK, NY. RISE TO THE CALL. <span class="pink-text">DRINK RESPONSIBLY.</span></p>
                    </div>
                    <div class="footer-item">
                        <a href="https://www.facebook.com/groups/EspolonCocktailFights" class="footer-link social-link" title="Follow us on Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/camparicommunity/" class="footer-link social-link" title="Follow us on Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/utils.js")"></script>
    <script>
        utils.init();
    </script>
}


