﻿@model CampariEspolonLoteria.Models.ViewModels.SubmitViewModel

@{
    ViewBag.Title = "Espoloteria";
}

<div class="landing-page">
    <div class="center-content">
        <div class="landing-content">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @id = "form1" }))
            {
                <img src="@Url.Content("~/Images/Espoloteria-Animated-Logo_v2.gif")" class="lrg-logo" />
                <div class="reg-form">
                    @if (Model.RegistrationRequired)
                    {
                    <div class="form-row">
                        <div class="form-col one-col">
                            <label class="form-label">Exclusive Event</label>
                            <input type="text" class="text-input" placeholder="Enter Registered Email" name="Email" />
                        </div>
                    </div>
                    }
                    <div class="form-row">
                        <div class="form-col">
                            <label class="form-label">When were you born?</label>
                            <div class="three-col" id="ageCheck">
                                <input type="text" class="text-input --month dob" placeholder="MM" name="Month" maxlength="2"/>
                                <input type="text" class="text-input --day dob" placeholder="DD" name="Day" maxlength="2" />
                                <input type="text" class="text-input --year dob" placeholder="YYYY" name="Year" maxlength="4" />
                            </div>
                        </div>
                        <span class="age-validation-error" style="display:none;">Sorry, you must be of legal age to access this site.</span>
                    </div>
                    <div class="form-row">
                        <div class="form-col">
                            <button href="javascript:;" class="btn solid-btn" data-submit-form>Play Game</button>
                        </div>
                    </div>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="errMessage">
                    @Model.ErrorMessage
                </div>
            }

        </div>
    </div>
</div>

<script>
    var form = document.getElementById('form1')
    var submitBtn = document.querySelector('[data-submit-form]');
    var dobMsg = document.querySelector('.age-validation-error');

    submitBtn.addEventListener('click', function () { checkAge(); }, false);

    function checkAge() {
        form.submit();
        /*
        debugger;
        var now = Date.now(),
            x = document.getElementById("form1"),
            bDay = "",
            start,
            elapsed,
            age;

        for (i = 0; i < x.length; i++) {
            bDay += x.elements[i].value + ",";
        }

        start = new Date(bDay);

        elapsed = now - start;
        age = Math.floor(((((elapsed / 1000) / 60) / 60) / 24) / 365);

        if (age < 21) {
            dobMsg.style.display = 'block';
        } else if (age > 20) {
            dobMsg.style.display = 'none';
            form.submit();
        }
        */
    }

    //var submission = {
    //    submitted: false,
    //};
    //submission.form = $('#form1');

    //submission.submitForm = function () {
    //    $('#btnSubmitEntry').prop('disabled', true); 
    //    submission.submitted = true;

    //    if (submission.form.valid()) {
    //        submission.form.submit();
    //    }
    //    else {

    //        $('#errorMessage').show();
    //        $('#btnSubmitEntry').prop('disabled', false);
    //    }
    //}

</script>
