﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="landing-page">
    <div class="center-content">
        <div class="landing-content">
            <img src="@Url.Content("~/Images/lrg-logo.png")" class="lrg-logo" />
            <div class="reg-form">
                <div class="form-row">
                    <div class="form-col one-col">
                        <label class="form-label">LOGIN</label>
                        <input type="text" class="text-input" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-col one-col">
                        <label class="form-label">Password</label>
                        <input type="text" class="text-input" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-col">
                        <a href="javascript:;" class="btn solid-btn">Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

