.disabled-page {

    .center-content {
        max-width: 575px;

        .lrg-logo {
            margin: 0 auto 65px;
            width: 100%;
            max-width: 305px;
            display: block;
        }

        .disabled-content {
            padding: 10% 0 0;

            .disabled-msg {
                color: map-get($color, secondary);
                font-size: 22px;
                line-height: 29px;
                text-align: center;

                .disabled-msg--link {
                    color: map-get($color, secondary);
                }
            }
        }
    }
}

//4426412