.game-page {
    padding: 0 0 0 150px;

    @media only screen and (max-width: 1023px) {
        padding: 0 0 0 0;
    }

    .center-content {
        max-width: 1440px;

        .lrg-logo {
            margin: 0 auto 35px;
            width: 100%;
            max-width: 305px;
            display: block;
        }

        .game-content {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
            flex-wrap: nowrap;

            @media only screen and (max-width: 1023px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .game-column {
                width: 100%;
                display: flex;
                position: relative;

                &:nth-child(1) {
                    max-width: 375px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: nowrap;
                    margin: 0 20px 0 0;

                    @media only screen and (max-width: 1023px) {
                        margin: 0 0 0 0;
                    }
                }

                &:nth-child(2) {
                    max-width: 605px;
                    margin: 0 0 0 20px;

                    .game-column-row {
                        &.--btn-row {
                            display: none;
                        }
                    }

                    @media only screen and (max-width: 1023px) {
                        margin: 0 0 0 0;
                        flex-direction: column;

                        .game-column-row {
                            &.--btn-row {
                                display: block;
                            }
                        }
                    }
                }

                .game-column-row {
                    width: 100%;
                    padding: 18px 0;
                    position: relative;

                    &.--mobile-board-number {
                        display: none;

                        @media only screen and (max-width: 1023px) {
                            display: block;
                        }
                    }

                    &:nth-child(2) {
                        border-bottom: 2px solid map-get($color, primary);
                        padding-top: 0;
                    }

                    &:nth-child(3) {
                        border-bottom: 2px solid map-get($color, primary);

                        @media only screen and (max-width: 1023px) {
                            border: none;
                        }
                    }

                    &.--desktop-board-number {
                        display: block;

                        @media only screen and (max-width: 1023px) {
                            display: none;
                        }
                    }

                    &.--mobile-border-top {
                        @media only screen and (max-width: 1023px) {
                            border-top: 2px solid map-get($color, primary);
                            border-bottom: 2px solid map-get($color, primary);
                        }
                    }

                    .badge-img {
                        position: absolute;
                        bottom: -75px;
                        left: -140px;
                        display: block;
                        width: 100%;
                        max-width: 150px;
                        transform: rotate(-20deg);

                        @media only screen and (max-width: 1023px) {
                            bottom: unset;
                            top: -45px;
                            left: 50%;
                            transform: translateX(-50%);
                            max-width: 60px;
                        }
                    }

                    &.--img-border {
                        padding: 0;

                        &:before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                            width: 40%;
                            height: 2px;
                            background-color: map-get($color, primary);
                        }

                        &:after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%);
                            width: 40%;
                            height: 2px;
                            background-color: map-get($color, primary);
                        }

                        .border-img {
                            display: block;
                            width: 100%;
                            max-width: 55px;
                            margin: 0 auto;
                        }
                    }

                    &.--game-details {
                        padding-bottom: 18px;

                        .detail-copy {
                            color: map-get($color, secondary);
                            display: block;
                            text-align: center;
                            font-size: 20px;
                            line-height: 24px;
                            text-transform: uppercase;
                            .detail-copy-link {
                                color:map-get($color, secondary);
                            }
                        }
                    }

                    &.--btn-row {
                        .print-details {
                            color: map-get($color, secondary);
                            display: block;
                            text-align: center;
                            font-size: 20px;
                            line-height: 24px;
                            text-transform: uppercase;
                            margin: 0 0 10px;
                        }

                        .btn {
                            &.outline-btn {
                                margin-bottom: 16px;
                            }
                        }
                    }
                }

                .game-headline {
                    text-align: center;
                    text-transform: uppercase;
                    display: block;
                    font-size: 34px;

                    &.--gameboard {
                        color: map-get($color, primary);

                        span {
                            display: inline;
                            font-size: 34px;
                        }
                    }

                    &.--instructions {
                        color: map-get($color, secondary);
                    }

                    span {
                        display: block;
                        text-align: center;
                        font-size: 20px;
                        line-height: 24px;
                    }
                }
            }
        }
    }
}
