.landing-page {
    .center-content {
        max-width:375px;
        .lrg-logo {
            margin:0 auto 65px;
            width:100%;
            max-width:305px;
            display:block;
        }
    }
}