
.page-wrap {
    width:100%;
    height:100%;
    min-height:100vh;
    padding:65px 20px;
    .center-content {
        display:block;
        position:relative;
        width:100%;
        margin:0 auto;
    }
}

@import "_landing.scss";
@import "_game.scss";
@import "_disabled.scss";