@import "_fonts.scss";
@import "_variables.scss";
@import "_mixins.scss";
@import "Responsive/_base.scss";

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
}

html,
body {
    font-family: 'Alternate Gothic No1 D';
    background: url("../../Images/concrete-background.jpg");
}

.inactive-copy {
    font-size:22px;
    color:#ffffff;
    line-height:29px;
}

.inactive-copy-link {
    color:#ffffff;
    font-size:22px; 
    line-height:29px;
    text-decoration:none;
}