@font-face {
    font-family: 'Alternate Gothic No1 D';
    src: url('../../fonts/AlternateGotNo1D.eot');
    src: url('../../fonts/AlternateGotNo1D.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/AlternateGotNo1D.woff2') format('woff2'),
        url('../../fonts/AlternateGotNo1D.woff') format('woff'),
        url('../../fonts/AlternateGotNo1D.ttf') format('truetype'),
        url('../../fonts/AlternateGotNo1D.svg#AlternateGotNo1D') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
