@mixin ui-transition ( $value: 0.4s) {
    transition: all $value ease;
    -web-transition: all $value ease;
    -moz-transition: all $value ease;
    -ms-transition: all $value ease;
}

@mixin transition-delay($value:1s) {
    -webkit-transition-delay: $value;
    transition-delay: $value;
}

@mixin flexBoxRow() {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

@mixin center() {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

@mixin verticallyCenter() {
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
}

@mixin horizontallyCenter() {
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
}

@mixin rotate($value) {
    transform: rotate($value);
    -webkit-transform: rotate($value);
    -moz-transform: rotate($value);
    -ms-transform: rotate($value);
}

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';
    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};
        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    animation : $animations;
    -webkit-animation: $animations;
    -moz-animation : $animations;
    -o-animation : $animations;
}

@mixin animationDelay($value:0.4s) {
    animation-delay: $value;
    -webkit-animation-delay: $value;
    -moz-animation-delay: $value;
    -o-animation-delay: $value;
}

@mixin keyframes($animationName) {
    @keyframes #{$animationName} {
        @content;
    }
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
}

@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}