.btn {
    display: block;
    width: 100%;
    color: map-get($color, tertiary);
    text-transform: uppercase;
    padding: 18px 0;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;

    &.outline-btn {
        color: map-get($color, primary);
        border: 2px solid map-get($color, primary);
    }

    &.solid-btn {
        background-color: map-get($color, primary);

        &.--desktop-start-btn {
            @media only screen and (max-width: 1023px) {
                display: none;
            }
        }

        &.--mobile-start-btn {
            display: none;

            @media only screen and (max-width: 1023px) {
                display: block;
            }
        }
    }
}
