.footer {
    padding:0 0 65px;
    .center-content {
        max-width:900px;
        margin:0 auto;
        .footer-content {
            display:flex;
            flex-direction:row;
            justify-content:center;
            align-items:center;
            flex-wrap:nowrap;
            @media only screen and (max-width: 1023px) {
                flex-direction:column;
            } 
            .footer-item {
                &:first-child {
                    margin-right:20px;
                    @media only screen and (max-width: 1023px) {
                        margin-right:0;
                        margin-bottom:10px;
                    } 
                }
                &:last-child {
                    margin-left:20px;
                    @media only screen and (max-width: 1023px) {
                        margin-left:0;
                        margin-top:10px;
                    } 
                }
                .footer-link {
                    font-size:14px;
                    line-height:18px;
                    color:map-get($color, secondary);
                    text-decoration:none;
                    &:first-child {
                        margin-right:10px;
                    }
                    &:last-child {
                        margin-left:10px;
                    }
                    &:hover {
                        text-decoration:underline;
                    }
                    &.social-link {
                        color:map-get($color, primary);
                        &:hover {
                            text-decoration:none;
                        }
                    }
                }
                .footer-copy {
                    font-size:14px;
                    line-height:18px;
                    color:map-get($color, secondary);
                    text-transform:uppercase;
                    .pink-text {
                        color:map-get($color, primary);
                    }
                    @media only screen and (max-width: 1023px) {
                        text-align:center;
                    } 
                }
            }
        }
    }
}