.reg-form {
    .form-label {
        text-align: center;
        text-transform: uppercase;
        color: map-get($color, secondary);
        margin: 0 0 24px;
        text-align: center;
        width: 100%;
        display: block;
        font-size: 28px;
        font-weight: bold;
        line-height: 28px;
    }

    input[type="text"] {
        border: 1px solid rgb(65, 64, 66);
        color: #D2183E !important;
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        height: 57px;
        /*padding: 13px 0;*/
        font-size: 25px;
        line-height: 57px;

        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: map-get($color, secondary);
            opacity: 1; /* Firefox */
        }

        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: map-get($color, secondary);
        }

        &::-ms-input-placeholder { /* Microsoft Edge */
            color: map-get($color, secondary);
        }
    }

    .form-row {
        display: block;
        margin: 0 0 40px;
        position: relative;

        &:last-child {
            margin: 0 0 0;
            padding: 20px 0 0;
        }

        .form-col {
            position: relative;

            &.one-col {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: nowrap;
            }

            &.two-col {
            }

            .three-col {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                flex-wrap: nowrap;

                input[type="text"] {
                    width: 30%;

                    &:nth-child(1) {
                        margin: 0 10px 0 0;
                    }

                    &:nth-child(2) {
                        margin: 0 10px 0 10px;
                    }

                    &:nth-child(3) {
                        margin: 0 0 0 10px;
                    }
                }
            }

            .form-checkbox {
                position: relative;
                width: 100%;

                input[type="radio"] {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;

                    & + .custom-checkbox {
                        display: block;
                        width: 100%;
                        padding: 12px 0;
                        border: 2px solid map-get($color, secondary);
                        color: map-get($color, secondary);
                        text-align: center;
                        font-size: 28px;

                        i {
                            color: map-get($color, tertiary);
                            font-size: 20px;
                            line-height: 28px;
                            vertical-align: top;
                            margin: 0 10px 0 0;
                        }
                    }

                    &:checked {
                        & + .custom-checkbox {
                            background-color: map-get($color, tertiary);
                            color: map-get($color, secondary);

                            i {
                                color: map-get($color, secondary);
                            }
                        }
                    }
                }
            }
        }

        .age-validation-error {
            color: map-get($color, tertiary);
            position: absolute;
            bottom: -20px;
            left: 0;
            font-size: 20px;

            @media only screen and (max-width: 767px) {
                font-size: 16px;
            }
        }

        .save-msg {
            color: map-get($color, tertiary);
            font-size: 20px;

            @media only screen and (max-width: 767px) {
                font-size: 16px;
            }
        }
    }
}
.errMessage {
    font-size: 20px;
    text-align: center;
    padding-top: 10px;

    @media only screen and (max-width: 767px) {
        font-size: 16px;
    }
}