.gameboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    border-radius: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top:90px;
    @media only screen and (max-width: 1023px) {
        margin-top: 0px;
    }

    .gameboard-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        width: 100%;

        .gameboard-col {
            flex: 1 1 auto;

            .game-card {
                position: relative;
                perspective: 1000px;
                cursor: pointer;

                .game-card-inner {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    transition: all 0.8s;
                    transform-style: preserve-3d;
                    padding: 140% 0 0;
                    transform-origin: center;

                    .game-card-front {
                        position: absolute;
                        top: 0;
                        left: 0;
                        -webkit-backface-visibility: hidden; /* Safari */
                        backface-visibility: hidden;
                        &:after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%) scale(.7);
                            background-image: url('../../images/cards/card-stamp-img.png');
                            background-position: center;
                            background-size: 100%;
                            background-repeat: no-repeat;
                            display: block;
                            padding: 22%;
                            transition: all 0.5s;
                            transition-delay: 0s;
                            z-index: 2;
                            opacity: 0;
                            -webkit-backface-visibility: hidden; /* Safari */
                            backface-visibility: hidden;
                            transform-style: preserve-3d;
                        }
                    }

                    .game-card-back {
                        display:none;
                        position: absolute;
                        top: 0;
                        left: 0;
                        -webkit-backface-visibility: hidden; /* Safari */
                        backface-visibility: hidden;
                        transform: rotateY(180deg);
                        transform-style: preserve-3d;
                    }
                }

                img {
                    width: 100%;
                }

                &.--selected {
                    .game-card-inner {
                        /*transform: rotateY(180deg);*/
                        .game-card-front {
                            &:after {
                                transform: translate(-50%,-50%) scale(1);
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}
