.overlay {
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100%;
    min-height:100vh;
    z-index:0;
    display:none;
    background-color:rgba(0,0,0,0.65);
    &.--isVisible {
        display:block;
        z-index:999;
    }
    .modal {
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        background-color:map-get($color, tertiary);
        width:100%;
        max-width:488px;
        padding:60px 20px 20px;
        @media only screen and (max-width: 560px) {
            max-width:80%;
        } 
        .close-modal {
            width:42px;
            height:42px;
            color:map-get($color, secondary);
            background-color:map-get($color, tertiary);
            border:3px solid map-get($color, primary);
            position:absolute;
            top:-21px;
            right:-21px;
            border-radius:500px;
            cursor:pointer;
            &:after {
                content:"X";
                position:absolute;
                top:50%;
                left:50%;
                transform:translate(-50%,-50%);
                color:map-get($color, secondary);
                font-size:20px;
                line-height:20px;
                z-index:1;
            }
        }
        .modal-content {
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            width:100%;
            max-width:400px;
            margin:0 auto;
            .modal-headline {
                color:map-get($color, secondary);
                font-size:42px;
                line-height:42px;
                margin:0 0 20px;
                text-transform:uppercase;
            }
            .modal-copy {
                font-size: 24px;
                line-height: 24px;
                color:map-get($color, secondary);
                margin:0 0 20px;
                text-transform:uppercase;
                text-align:center;
            }
            .btn {
                margin:0 0 40px;
            }
            .modal-link {
                color:map-get($color, secondary);
                font-size: 20px;
                line-height: 20px;
                text-transform:uppercase;
                &:hover {
                    text-decoration:none;
                }
            }
        }
    }
}