﻿@font-face {
  font-family: 'Alternate Gothic No1 D';
  src: url("../../fonts/AlternateGotNo1D.eot");
  src: url("../../fonts/AlternateGotNo1D.eot?#iefix") format("embedded-opentype"), url("../../fonts/AlternateGotNo1D.woff2") format("woff2"), url("../../fonts/AlternateGotNo1D.woff") format("woff"), url("../../fonts/AlternateGotNo1D.ttf") format("truetype"), url("../../fonts/AlternateGotNo1D.svg#AlternateGotNo1D") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0; }

html,
body {
  font-family: 'Alternate Gothic No1 D';
  background: url("../../Images/concrete-background.jpg"); }

.inactive-copy {
  font-size: 22px;
  color: #ffffff;
  line-height: 29px; }

.inactive-copy-link {
  color: #ffffff;
  font-size: 22px;
  line-height: 29px;
  text-decoration: none; }

.page-wrap {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 65px 20px; }
  .page-wrap .center-content {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto; }

.landing-page .center-content {
  max-width: 375px; }
  .landing-page .center-content .lrg-logo {
    margin: 0 auto 65px;
    width: 100%;
    max-width: 305px;
    display: block; }

.game-page {
  padding: 0 0 0 150px; }
  @media only screen and (max-width: 1023px) {
    .game-page {
      padding: 0 0 0 0; } }
  .game-page .center-content {
    max-width: 1440px; }
    .game-page .center-content .lrg-logo {
      margin: 0 auto 35px;
      width: 100%;
      max-width: 305px;
      display: block; }
    .game-page .center-content .game-content {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: nowrap; }
      @media only screen and (max-width: 1023px) {
        .game-page .center-content .game-content {
          flex-direction: column;
          justify-content: center;
          align-items: center; } }
      .game-page .center-content .game-content .game-column {
        width: 100%;
        display: flex;
        position: relative; }
        .game-page .center-content .game-content .game-column:nth-child(1) {
          max-width: 375px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          flex-wrap: nowrap;
          margin: 0 20px 0 0; }
          @media only screen and (max-width: 1023px) {
            .game-page .center-content .game-content .game-column:nth-child(1) {
              margin: 0 0 0 0; } }
        .game-page .center-content .game-content .game-column:nth-child(2) {
          max-width: 605px;
          margin: 0 0 0 20px; }
          .game-page .center-content .game-content .game-column:nth-child(2) .game-column-row.--btn-row {
            display: none; }
          @media only screen and (max-width: 1023px) {
            .game-page .center-content .game-content .game-column:nth-child(2) {
              margin: 0 0 0 0;
              flex-direction: column; }
              .game-page .center-content .game-content .game-column:nth-child(2) .game-column-row.--btn-row {
                display: block; } }
        .game-page .center-content .game-content .game-column .game-column-row {
          width: 100%;
          padding: 18px 0;
          position: relative; }
          .game-page .center-content .game-content .game-column .game-column-row.--mobile-board-number {
            display: none; }
            @media only screen and (max-width: 1023px) {
              .game-page .center-content .game-content .game-column .game-column-row.--mobile-board-number {
                display: block; } }
          .game-page .center-content .game-content .game-column .game-column-row:nth-child(2) {
            border-bottom: 2px solid #f95073;
            padding-top: 0; }
          .game-page .center-content .game-content .game-column .game-column-row:nth-child(3) {
            border-bottom: 2px solid #f95073; }
            @media only screen and (max-width: 1023px) {
              .game-page .center-content .game-content .game-column .game-column-row:nth-child(3) {
                border: none; } }
          .game-page .center-content .game-content .game-column .game-column-row.--desktop-board-number {
            display: block; }
            @media only screen and (max-width: 1023px) {
              .game-page .center-content .game-content .game-column .game-column-row.--desktop-board-number {
                display: none; } }
          @media only screen and (max-width: 1023px) {
            .game-page .center-content .game-content .game-column .game-column-row.--mobile-border-top {
              border-top: 2px solid #f95073;
              border-bottom: 2px solid #f95073; } }
          .game-page .center-content .game-content .game-column .game-column-row .badge-img {
            position: absolute;
            bottom: -75px;
            left: -140px;
            display: block;
            width: 100%;
            max-width: 150px;
            transform: rotate(-20deg); }
            @media only screen and (max-width: 1023px) {
              .game-page .center-content .game-content .game-column .game-column-row .badge-img {
                bottom: unset;
                top: -45px;
                left: 50%;
                transform: translateX(-50%);
                max-width: 60px; } }
          .game-page .center-content .game-content .game-column .game-column-row.--img-border {
            padding: 0; }
            .game-page .center-content .game-content .game-column .game-column-row.--img-border:before {
              content: "";
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              width: 40%;
              height: 2px;
              background-color: #f95073; }
            .game-page .center-content .game-content .game-column .game-column-row.--img-border:after {
              content: "";
              position: absolute;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
              width: 40%;
              height: 2px;
              background-color: #f95073; }
            .game-page .center-content .game-content .game-column .game-column-row.--img-border .border-img {
              display: block;
              width: 100%;
              max-width: 55px;
              margin: 0 auto; }
          .game-page .center-content .game-content .game-column .game-column-row.--game-details {
            padding-bottom: 18px; }
            .game-page .center-content .game-content .game-column .game-column-row.--game-details .detail-copy {
              color: #000000;
              display: block;
              text-align: center;
              font-size: 20px;
              line-height: 24px;
              text-transform: uppercase; }
              .game-page .center-content .game-content .game-column .game-column-row.--game-details .detail-copy .detail-copy-link {
                color: #000000; }
          .game-page .center-content .game-content .game-column .game-column-row.--btn-row .print-details {
            color: #000000;
            display: block;
            text-align: center;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            margin: 0 0 10px; }
          .game-page .center-content .game-content .game-column .game-column-row.--btn-row .btn.outline-btn {
            margin-bottom: 16px; }
        .game-page .center-content .game-content .game-column .game-headline {
          text-align: center;
          text-transform: uppercase;
          display: block;
          font-size: 34px; }
          .game-page .center-content .game-content .game-column .game-headline.--gameboard {
            color: #f95073; }
            .game-page .center-content .game-content .game-column .game-headline.--gameboard span {
              display: inline;
              font-size: 34px; }
          .game-page .center-content .game-content .game-column .game-headline.--instructions {
            color: #000000; }
          .game-page .center-content .game-content .game-column .game-headline span {
            display: block;
            text-align: center;
            font-size: 20px;
            line-height: 24px; }

.disabled-page .center-content {
  max-width: 575px; }
  .disabled-page .center-content .lrg-logo {
    margin: 0 auto 65px;
    width: 100%;
    max-width: 305px;
    display: block; }
  .disabled-page .center-content .disabled-content {
    padding: 10% 0 0; }
    .disabled-page .center-content .disabled-content .disabled-msg {
      color: #000000;
      font-size: 22px;
      line-height: 29px;
      text-align: center; }
      .disabled-page .center-content .disabled-content .disabled-msg .disabled-msg--link {
        color: #000000; }

.btn {
  display: block;
  width: 100%;
  color: #ffffff;
  text-transform: uppercase;
  padding: 18px 0;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer; }
  .btn.outline-btn {
    color: #f95073;
    border: 2px solid #f95073; }
  .btn.solid-btn {
    background-color: #f95073; }
    @media only screen and (max-width: 1023px) {
      .btn.solid-btn.--desktop-start-btn {
        display: none; } }
    .btn.solid-btn.--mobile-start-btn {
      display: none; }
      @media only screen and (max-width: 1023px) {
        .btn.solid-btn.--mobile-start-btn {
          display: block; } }

.reg-form .form-label {
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 24px;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 28px;
  font-weight: bold;
  line-height: 28px; }

.reg-form input[type="text"] {
  border: 1px solid #414042;
  color: #D2183E !important;
  background: transparent none repeat scroll 0 0;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  height: 57px;
  /*padding: 13px 0;*/
  font-size: 25px;
  line-height: 57px; }
  .reg-form input[type="text"]::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000000;
    opacity: 1;
    /* Firefox */ }
  .reg-form input[type="text"]:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000000; }
  .reg-form input[type="text"]::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000000; }

.reg-form .form-row {
  display: block;
  margin: 0 0 40px;
  position: relative; }
  .reg-form .form-row:last-child {
    margin: 0 0 0;
    padding: 20px 0 0; }
  .reg-form .form-row .form-col {
    position: relative; }
    .reg-form .form-row .form-col.one-col {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap; }
    .reg-form .form-row .form-col .three-col {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap; }
      .reg-form .form-row .form-col .three-col input[type="text"] {
        width: 30%; }
        .reg-form .form-row .form-col .three-col input[type="text"]:nth-child(1) {
          margin: 0 10px 0 0; }
        .reg-form .form-row .form-col .three-col input[type="text"]:nth-child(2) {
          margin: 0 10px 0 10px; }
        .reg-form .form-row .form-col .three-col input[type="text"]:nth-child(3) {
          margin: 0 0 0 10px; }
    .reg-form .form-row .form-col .form-checkbox {
      position: relative;
      width: 100%; }
      .reg-form .form-row .form-col .form-checkbox input[type="radio"] {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1; }
        .reg-form .form-row .form-col .form-checkbox input[type="radio"] + .custom-checkbox {
          display: block;
          width: 100%;
          padding: 12px 0;
          border: 2px solid #000000;
          color: #000000;
          text-align: center;
          font-size: 28px; }
          .reg-form .form-row .form-col .form-checkbox input[type="radio"] + .custom-checkbox i {
            color: #ffffff;
            font-size: 20px;
            line-height: 28px;
            vertical-align: top;
            margin: 0 10px 0 0; }
        .reg-form .form-row .form-col .form-checkbox input[type="radio"]:checked + .custom-checkbox {
          background-color: #ffffff;
          color: #000000; }
          .reg-form .form-row .form-col .form-checkbox input[type="radio"]:checked + .custom-checkbox i {
            color: #000000; }
  .reg-form .form-row .age-validation-error {
    color: #ffffff;
    position: absolute;
    bottom: -20px;
    left: 0;
    font-size: 20px; }
    @media only screen and (max-width: 767px) {
      .reg-form .form-row .age-validation-error {
        font-size: 16px; } }
  .reg-form .form-row .save-msg {
    color: #ffffff;
    font-size: 20px; }
    @media only screen and (max-width: 767px) {
      .reg-form .form-row .save-msg {
        font-size: 16px; } }

.errMessage {
  font-size: 20px;
  text-align: center;
  padding-top: 10px; }
  @media only screen and (max-width: 767px) {
    .errMessage {
      font-size: 16px; } }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  z-index: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.65); }
  .overlay.--isVisible {
    display: block;
    z-index: 999; }
  .overlay .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: 100%;
    max-width: 488px;
    padding: 60px 20px 20px; }
    @media only screen and (max-width: 560px) {
      .overlay .modal {
        max-width: 80%; } }
    .overlay .modal .close-modal {
      width: 42px;
      height: 42px;
      color: #000000;
      background-color: #ffffff;
      border: 3px solid #f95073;
      position: absolute;
      top: -21px;
      right: -21px;
      border-radius: 500px;
      cursor: pointer; }
      .overlay .modal .close-modal:after {
        content: "X";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #000000;
        font-size: 20px;
        line-height: 20px;
        z-index: 1; }
    .overlay .modal .modal-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 400px;
      margin: 0 auto; }
      .overlay .modal .modal-content .modal-headline {
        color: #000000;
        font-size: 42px;
        line-height: 42px;
        margin: 0 0 20px;
        text-transform: uppercase; }
      .overlay .modal .modal-content .modal-copy {
        font-size: 24px;
        line-height: 24px;
        color: #000000;
        margin: 0 0 20px;
        text-transform: uppercase;
        text-align: center; }
      .overlay .modal .modal-content .btn {
        margin: 0 0 40px; }
      .overlay .modal .modal-content .modal-link {
        color: #000000;
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase; }
        .overlay .modal .modal-content .modal-link:hover {
          text-decoration: none; }

.gameboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  border-radius: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 90px; }
  @media only screen and (max-width: 1023px) {
    .gameboard {
      margin-top: 0px; } }
  .gameboard .gameboard-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%; }
    .gameboard .gameboard-row .gameboard-col {
      flex: 1 1 auto; }
      .gameboard .gameboard-row .gameboard-col .game-card {
        position: relative;
        perspective: 1000px;
        cursor: pointer; }
        .gameboard .gameboard-row .gameboard-col .game-card .game-card-inner {
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          transition: all 0.8s;
          transform-style: preserve-3d;
          padding: 140% 0 0;
          transform-origin: center; }
          .gameboard .gameboard-row .gameboard-col .game-card .game-card-inner .game-card-front {
            position: absolute;
            top: 0;
            left: 0;
            -webkit-backface-visibility: hidden;
            /* Safari */
            backface-visibility: hidden; }
            .gameboard .gameboard-row .gameboard-col .game-card .game-card-inner .game-card-front:after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) scale(0.7);
              background-image: url("../../images/cards/card-stamp-img.png");
              background-position: center;
              background-size: 100%;
              background-repeat: no-repeat;
              display: block;
              padding: 22%;
              transition: all 0.5s;
              transition-delay: 0s;
              z-index: 2;
              opacity: 0;
              -webkit-backface-visibility: hidden;
              /* Safari */
              backface-visibility: hidden;
              transform-style: preserve-3d; }
          .gameboard .gameboard-row .gameboard-col .game-card .game-card-inner .game-card-back {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            -webkit-backface-visibility: hidden;
            /* Safari */
            backface-visibility: hidden;
            transform: rotateY(180deg);
            transform-style: preserve-3d; }
        .gameboard .gameboard-row .gameboard-col .game-card img {
          width: 100%; }
        .gameboard .gameboard-row .gameboard-col .game-card.--selected .game-card-inner {
          /*transform: rotateY(180deg);*/ }
          .gameboard .gameboard-row .gameboard-col .game-card.--selected .game-card-inner .game-card-front:after {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1; }

.footer {
  padding: 0 0 65px; }
  .footer .center-content {
    max-width: 900px;
    margin: 0 auto; }
    .footer .center-content .footer-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap; }
      @media only screen and (max-width: 1023px) {
        .footer .center-content .footer-content {
          flex-direction: column; } }
      .footer .center-content .footer-content .footer-item:first-child {
        margin-right: 20px; }
        @media only screen and (max-width: 1023px) {
          .footer .center-content .footer-content .footer-item:first-child {
            margin-right: 0;
            margin-bottom: 10px; } }
      .footer .center-content .footer-content .footer-item:last-child {
        margin-left: 20px; }
        @media only screen and (max-width: 1023px) {
          .footer .center-content .footer-content .footer-item:last-child {
            margin-left: 0;
            margin-top: 10px; } }
      .footer .center-content .footer-content .footer-item .footer-link {
        font-size: 14px;
        line-height: 18px;
        color: #000000;
        text-decoration: none; }
        .footer .center-content .footer-content .footer-item .footer-link:first-child {
          margin-right: 10px; }
        .footer .center-content .footer-content .footer-item .footer-link:last-child {
          margin-left: 10px; }
        .footer .center-content .footer-content .footer-item .footer-link:hover {
          text-decoration: underline; }
        .footer .center-content .footer-content .footer-item .footer-link.social-link {
          color: #f95073; }
          .footer .center-content .footer-content .footer-item .footer-link.social-link:hover {
            text-decoration: none; }
      .footer .center-content .footer-content .footer-item .footer-copy {
        font-size: 14px;
        line-height: 18px;
        color: #000000;
        text-transform: uppercase; }
        .footer .center-content .footer-content .footer-item .footer-copy .pink-text {
          color: #f95073; }
        @media only screen and (max-width: 1023px) {
          .footer .center-content .footer-content .footer-item .footer-copy {
            text-align: center; } }
